<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Bosh sahifa</title>
  </head>
  <body>
 {% extends 'base.html' %}

  {% block content %}
    <h1>Bosh sahifa</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores aperiam
      velit iste accusantium illo laudantium harum a praesentium obcaecati. Ex
      maiores quam iusto molestias quasi expedita totam nobis minus aperiam.
    </p><h2>of home html</h2>
  {% endblock content %}


  </body>
</html>
